.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}
.lower-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.how-to-book-a-ride img,
.phone-image img {
  max-width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 30px;
  margin-right: 200px;
  justify-content: center;
}
.how-to-book-a-ride {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.one-three {
  margin-right: 120px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.two-four {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.request-a-trip img {
  border: 2px solid black;
  border-radius: 1.5px;
  border-color: rgb(26, 150, 150);
  padding: 7px;
  fill: aqua;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.enjoy-your-trip img {
  border: 2px solid black;
  border-radius: 3px;
  border-color: black;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.match-with-a-driver img{
  border: 2px solid black;
  border-radius: 3px;
  border-color: black;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.pay-and-rate img {
  border: 2px solid black;
  border-radius: 3px;
  border-color: black;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mobile-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
}
.circle-background {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border-radius: 50%;
}
.mobile-image {
  z-index: 1;
  width: 450%;
}

.main-div {
  max-width: 1024px;
  margin: 0 auto;
}
.request-a-trip{
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .lower-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .how-to-book-a-ride img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;

  }

  .mobile-image-container {
    order: -1;
    justify-content: center;
    align-items: center;

  }

  .one-three,
  .two-four {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}