@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
:root {
  --mainColor: #282930;
  --mainColorLight: #191b24;
  --secondaryColor: #1ac0ba;
  --textColor: #eee;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  justify-content: center;
 
 
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

nav a:hover {
  color: var(--secondaryColor);
}
.nav img {
  justify-content: center;
  display: flex;
}
.nav-btn button {
  display: none;
  padding: 20 20px;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}
.end-btn {
  background: transparent;
  border-color: #0f948f;
  padding: 20 18px;
  border-radius: 10px;
  color: rgb(48, 185, 160);
  padding: 10px;

}
.centered-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 9rem;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center; 
  justify-content: center;
  gap: 6rem;
}

.centered-nav a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    justify-content: flex-start;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
  .menu-items {
    display: flex;
    flex-direction: column;
  }
  .menu-items a {
    padding: 13px;
    font-size: 1.5rem;
  }
  .menu-items img {
    display: none;
  }
}