.grey-div {
  background-color: #323232;
  width: 100%;
  height: 600px;
  justify-content: space-between;
}
.happy-clients {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.happy-clients,
.green-div,
.clients-pictures {
  flex: 1;
}

.green-div {
  background-color: #0c5243;
  color: rgb(234, 237, 236);
  /* text-align: center;
  align-items: center; */
  padding: 20px;
  flex-direction: column;
  float: left;
  margin-left: 60px;
  height: 350px;
  width: 600px;
}

.green-div h2 {
  color: white;
  font-family: sans-serif;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 2.5rem;

}

/* .green-div p {

  line-height: 1.5; 
  display: flex; 
  flex-direction: column; 
} */
/* .green-div p{
  display: flex;
} */
.green-div img {
  display: flex;
  flex-direction: column;
  display: inline;
}
.clients-pictures img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 32%;
  align-items: flex-start;
  height: auto;
  padding-left: 100px;
  gap: 9rem;
  @media (max-width: 1024px) {
    display: none;
  }
}
.green-div {
  gap: 9rem;
  
}
/* .arrows img {
  display: flex;
 justify-content: center;

} */


@media (max-width: 390px) {
  .grey-div {
    justify-content: center;
    width: 220%;
    align-items: center;

  }
  .green-div {
    order: 1;
    margin-left: 120px;
  }
  .clients-pictures {
    display: none;
  }
  .arrows{
    display: none;
  }
  
  
}
