.main-footer{
    background-color: #323232;
    height: 470px;
    width: 100%;
    padding: 10px;
}
.text-container{
    padding: 10px;
    color: white;
}
.footer-line{
    width: 100%;
}
.and-type-setting-industry{
    margin: 0;
}