.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  background-color: #323232;
  color: white;
  width: 96.3%;
}

.rlye-logo,
.footer-text-container,
.footer-remaining {
  flex: 1;
}

.footer-text-container p {
  margin: 0;
}

.footer-remaining {
  display: flex;
  flex-wrap: wrap;
}

.quick-links,
.about-us,
.contact-us {
  flex: 1;
  margin-right: 20px;
}

.footer-line {
  width: 98%;
  margin-top: 20px;
}

.all-copyrights-social {
  display: flex;
  justify-content: space-between; /* Updated justify-content */
  align-items: center;
  width: 98%;
}

.all-copyrights-reserved {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main-footer {
    flex-direction: column;
    align-items: center;
    width: 200%;
    justify-content: center;
  }

  .rlye-logo,
  .footer-text-container,
  .footer-remaining {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-text-container {
    order: 1;
    padding: 30px;
  }

  .footer-remaining {
    margin-top: 20px;
  }

  .quick-links,
  .about-us,
  .contact-us {
    flex: 1;
    margin-right: 0;
  }
}
